<div class="users-container">
  <h2>მომხმარებლები</h2>
  <!-- search input for users -->
  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="applyFilter()"
      placeholder="ჩაწერე სახელი, გვარი ან მეილი"
    />
  </div>

  <table class="users-table">
    <thead>
      <tr>
        <th>სახელი და გვარი</th>
        <th>ნომერი</th>
        <th>ელ-ფოსტა</th>
        <th>კომპანია</th>
        <th>მოქმედებები</th>
      </tr>
    </thead>
    <tbody>
      <!-- load each user row -->
      <tr *ngFor="let user of filteredUsers">
        <td data-label="name n surname">{{ user.name }}</td>
        <td data-label="number">{{ user.phone }}</td>
        <td data-label="email">{{ user.email }}</td>
        <td data-label="company name">{{ user.company.name }}</td>
        <td data-label="actions" class="actions-cell">
          <button class="button posts-button" (click)="viewUserPosts(user.id)">
            პოსტები
          </button>
          <button class="button todos-button" (click)="viewUserTodos(user.id)">
            Todo List
          </button>
        </td>
      </tr>
      <!-- if no user found -->
      <tr *ngIf="filteredUsers.length === 0">
        <td colspan="5" class="no-results">მომხმარებლები არ მოიძებნა</td>
      </tr>
    </tbody>
  </table>
</div>
