<div class="user-posts-container">
  <div class="header-section">
    <button class="back-button" (click)="goBack()">უკან</button>
    <h2>{{ userName }} პოსტები</h2>
  </div>

  <div *ngIf="userPosts && userPosts.length > 0">
    <div class="posts-grid">
      <div class="post-card" *ngFor="let post of userPosts">
        <h3>{{ post.title }}</h3>
        <p>{{ post.body }}</p>
      </div>
    </div>
  </div>
  <!-- if no post -->
  <ng-template #noPosts>
    <div class="no-posts-message">
      <p>{{ userName }}ს არ აქვს პოსტები</p>
    </div>
  </ng-template>
</div>
